@import url("./standard.css");

body {
    margin: 0;
}

#main {
    height: 100vh;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../assets/fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../assets/fonts/RobotoCondensed-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../assets/fonts/RobotoCondensed-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../assets/fonts/RobotoCondensed-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../assets/fonts/RobotoCondensed-BoldItalic.ttf');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../assets/fonts/RobotoCondensed-LightItalic.ttf');
    font-style: italic;
    font-weight: 300;
}

html, body, #main {
    margin: 0;
    height: 100%;
    font-size: 12px;
    font-family: 'Roboto Condensed', 'Open Sans', sans-serif;
	
	background-position : center center;
    background-repeat: repeat-y;
    background-image: url('../assets/image/Background.jpg');
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.textModule{
    margin-bottom: 10px; 

}
.leftPart{
    position: relative;
    width: calc(100% - 10px);
    margin-right: 10px;
}

.centerPart{
    position: relative;
    width: calc(100% - 10px);
    margin-right: 10px;
}

.rightPart{
    position: relative;
    width: 100%;
}

.slider-wrapper .legend{
    display: none;
}

.tabContainer{
    display: flex;
    width: 90%;
    margin: 5px 5%;

    -webkit-border-top-left-radius: var(--containerBorderSize);
    -moz-border-radius-topleft: var(--containerBorderSize);
    border-top-left-radius: var(--containerBorderSize);

    -webkit-border-bottom-left-radius: var(--containerBorderSize);
    -moz-border-radius-bottomleft: var(--containerBorderSize);
    border-bottom-left-radius: var(--containerBorderSize);

    -webkit-border-top-right-radius: var(--containerBorderSize);
    -moz-border-radius-topright: var(--containerBorderSize);
    border-top-right-radius: var(--containerBorderSize);

    -moz-border-radius-bottomright: var(--containerBorderSize);
    border-bottom-right-radius: var(--containerBorderSize);
    -webkit-border-bottom-right-radius: var(--containerBorderSize);

    border-top: var(--topBorder);
    border-bottom: var(--bottomBorder);

    background-color : white;

}

.tabContainer .leftPart{
    float: left;
    width: calc(60%);


    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;

    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;

    -webkit-border-top-left-radius: var(--insideBorderSize);
    -moz-border-radius-topleft: var(--insideBorderSize);
    border-top-left-radius: var(--insideBorderSize);


    -webkit-border-bottom-left-radius: var(--insideBorderSize);
    -moz-border-radius-bottomleft: var(--insideBorderSize);
    border-bottom-left-radius: var(--insideBorderSize);

    margin: 0;
    padding: 0 20px;

    background-color: white;
}

.tabContainer .rightPart{
    float: left;
    width: calc(40%);

    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;

    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;

    -webkit-border-top-right-radius: var(--insideBorderSize);
    -moz-border-radius-topright: var(--insideBorderSize);
    border-top-right-radius: var(--insideBorderSize);

    -moz-border-radius-bottomright: var(--insideBorderSize);
    border-bottom-right-radius: var(--insideBorderSize);
    -webkit-border-bottom-right-radius: var(--insideBorderSize);

    margin: 0;
    padding: 0 20px;

    background-color: var(--lightOrange);
}

@media (orientation: portrait) {
    .tabContainer{
        display: block;
        float: left;

    }
    .leftPart {
        width:100% !important;

        -webkit-border-top-left-radius: var(--insideBorderSize) !important;
        -moz-border-radius-topleft: var(--insideBorderSize) !important;
        border-top-left-radius: var(--insideBorderSize) !important;

        -webkit-border-bottom-left-radius: var(--insideBorderSize) !important;
        -moz-border-radius-bottomleft: var(--insideBorderSize) !important;
        border-bottom-left-radius: var(--insideBorderSize) !important;

        -webkit-border-top-right-radius: var(--insideBorderSize) !important;
        -moz-border-radius-topright: var(--insideBorderSize) !important;
        border-top-right-radius: var(--insideBorderSize) !important;

        -moz-border-radius-bottomright: var(--insideBorderSize) !important;
        border-bottom-right-radius: var(--insideBorderSize) !important;
        -webkit-border-bottom-right-radius: var(--insideBorderSize) !important;
    }
    .rightPart{
        width:100% !important;

        -webkit-border-top-left-radius:0 !important;
        -moz-border-radius-topleft: 0 !important;
        border-top-left-radius: 0 !important;


        -webkit-border-bottom-left-radius: var(--insideBorderSize) !important;
        -moz-border-radius-bottomleft: var(--insideBorderSize) !important;
        border-bottom-left-radius: var(--insideBorderSize) !important;


        -webkit-border-top-right-radius: 0 !important;
        -moz-border-radius-topright: 0 !important;
        border-top-right-radius: 0 !important;

        -moz-border-radius-bottomright: var(--insideBorderSize) !important;
        border-bottom-right-radius: var(--insideBorderSize) !important;
        -webkit-border-bottom-right-radius: var(--insideBorderSize) !important;
    }
}