.bookPageContainer{
    display: flex;
    width: 90%;
    margin: 5px 5%;

	-webkit-border-top-left-radius: var(--containerBorderSize);
    -moz-border-radius-bottomleft: var(--containerBorderSize);
    border-bottom-left-radius: var(--containerBorderSize);
    -webkit-border-bottom-left-radius: var(--containerBorderSize);
    -moz-border-radius-topright: var(--containerBorderSize);
    border-top-right-radius: var(--containerBorderSize);
    -webkit-border-top-right-radius: var(--containerBorderSize);
    -moz-border-radius-bottomright: var(--containerBorderSize);
    border-bottom-right-radius: var(--containerBorderSize);
    -webkit-border-bottom-right-radius: var(--containerBorderSize);

	border-top: var(--topBorder);
    border-bottom: var(--bottomBorder);

	background-color : white;

}

.bookPageContainer .leftPart{
    position: relative;
    width: calc(60%);

	-moz-border-radius-topleft: var(--insideBorderSize);
    border-top-left-radius: var(--insideBorderSize);
    -webkit-border-top-left-radius: var(--insideBorderSize);
    -moz-border-radius-bottomleft: var(--insideBorderSize);
    border-bottom-left-radius: var(--insideBorderSize);
    -webkit-border-bottom-left-radius: var(--insideBorderSize);

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;


	background-color: white;
}
.bookPageContainer .rightPart{
    position: relative;
    width: calc(40%);

	-moz-border-radius-topright: var(--insideBorderSize);
    border-top-right-radius: var(--insideBorderSize);
    -webkit-border-top-right-radius: var(--insideBorderSize);
    -moz-border-radius-bottomright: var(--insideBorderSize);
    border-bottom-right-radius: var(--insideBorderSize);
    -webkit-border-bottom-right-radius: var(--insideBorderSize);

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;


	background-color: var(--lightOrange);
}

.bookPageLogo{
    display: inline;
	width: 60%;
}
.bookPageReleaseDate{
	margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
	
	text-align: center;

}
.bookPageDescription{

}

.bookPagePresse{
    height: 200px;
}

.bookPagePartner{
    height: 200px;
}

.bookPageVideo{
    height: 200px;
}
.carouselContainer{
	position: relative;
	width: 90%;
	justify-content : center;

	
	margin-right : auto;
	margin-left : auto;
}
.BookSplash{
	position: relative;

	float : center;
	width:90%;
}
.Book3D{
	position: relative;
	float : left;
	text-align: center;

	width:100%;
	
	margin-left: auto;
    margin-right: auto;

}

.BookPartners{
	display: flex;
	justify-content : center;

}
.BookPartnersTextPart{
	position: relative;
	
	margin-right : auto;
	margin-left : auto;
	
    width: 60%;
	float : left;
	

}
.BookPartnerLogo{
	position: relative;
  
	float : left;
	
	margin-right : 8px;
	margin-left : 8px;
	
    cursor: pointer;
	

}
.BookpartnerLink{
	border:0;
	width: 100px;
}

.BookpartnerTextLink{
	text-decoration: none;
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    color: #000000;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
	
}
.BookpartnerTextLink:hover{
    color: blue;
}
.BookTttV{

	padding-top: 10px;
	
	text-align: center;

}