

.BookCollectionDescription{
	position: relative;

	float : left;
	
	text-align: center;
	width : 100%;
	margin-right : auto;
	margin-left : auto;
}

.BookCollectionSplash{
	position: relative;


	width:100%;
}
.BookCollectionGameInfos{
	position: relative;
	text-align: center;

	width:90%;
	
	margin-left: auto;
    margin-right: auto;

}
.BookCollectionDLColo{
	display: flex;

	cursor: pointer;
	
	border-style: solid;
	border-color: #fd7b00;
	border-left-width: 6px;
	border-right-width: 6px;
	border-top-width: 3px;
	border-bottom-width: 3px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	
	
	text-shadow: none;
	background-color: white;
}
.BookCollectionDLColo:hover{
	background-color: #e59f92;
}
