
#bookPageContainer{
    position: relative;
    float: left;
    width: 100%;
}

#bookPageContainer .leftPart{    
    width: 150px;
    margin-left:  calc(20% - 225px);
    float: left;
    margin-right: 0; 
}

#bookPageContainer .rightPart{ 
    width: 80%;
    float: left;
    margin-right: 0; 
    margin-left: 0;
}

.bookPageRound{
    height: 120px;
    border-top-left-radius: 100%; 
}

.bookPageBuy{
    height: 150px;
}

.bookPageBorder{
    height: 360px;
}

.bookPageTop{
    height: 210px;
}

.bookPageCenter{
    height: 210px;
}

.bookPageBottom{
    height: 210px;
}
.bookModule{
    background-color: #437bb5;
    border: 1px solid black;
}
