
.carousel-widget-container{
    position: relative;
    margin: 10px 0;
    height: var(--carouselHeight);
    float: left;
    width: calc(90% - 10px);
    margin-left: 5%;
    border-radius: 10px;
    background-color: var(--lightBlue);
}

.carousel-widget{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    overflow: hidden;

}
.carousel-background{
    position: absolute;
}
.carousel-forground{

}
.carousel-items, .carousel-DateItem{
    position: absolute;
    height: calc(100% - 3px);
    float: left;
    width: 100%;
    overflow: hidden;
}

.carousel-scroller{
    position: relative;
    height: calc(100% - 3px);
    float: left;
    top: 4px;
    background-repeat: repeat-x;
    background-size: contain;
    transition: all var(--carrousselScrollStep) ease-in-out;
}
.EN .carousel-scroller{
    background-image: url('../assets/image/Carroussel/widget/Panorama-saison-EN.png');
}

.FR .carousel-scroller{
    background-image: url('../assets/image/Carroussel/widget/Panorama-saison-FR.png');
}

.carousel-item-container{
    position: absolute;
    height: 0px;
    width: 0px;
    transition: opacity var(--fadingStep) ease-in, margin var(--carrousselScrollStep) ease-in-out, top var(--carrousselScrollStep) ease-in-out;
}

.carousel-item-container.bottom{
    bottom:0;
}

.carousel-dateItem-container{
    position: absolute;
    z-index: 1;
    transition: opacity var(--fadingStep) ease-in, margin var(--carrousselScrollStep) ease-in-out, top var(--carrousselScrollStep) ease-in-out;
}

.carousel-dateItem-container.bottom{
    top: calc(50% - 31px);
    font-size: 45px;
}

/*.carousel-dateItem-container.top{
    top:138px;
}*/








.top .carousel-image{
    top: calc(var(--carouselEvenementHeight)/2);
    left: 0px;
    margin-left: 10px;
    height: 5px;
    width: 5px;
    z-index: 1;
    opacity: 0;
}

.top.focused .carousel-image{
    top: calc(var(--carouselEvenementHeight)/2);
    left: calc(var(--carouselEvenementWidth)* -1);
    width: 95px;
    height: 95px;
    z-index: 5;
    opacity: 1;
}

.leftParcho.top.focused .carousel-image{
    left: calc(var(--carouselEvenementWidth)/4 - 10px);
    width: 95px;
    height: 95px;
    z-index: 5;
    opacity: 1;
}

.bottom .carousel-image{
    top: 0;
    margin-top: calc(var(--carouselEvenementHeight)/2 * -1);
    height: 5px;
    width: 5px;
    z-index: 1;
    opacity: 0;
    left: 11px;
}

.bottom.focused .carousel-image{
    margin-top: calc((var(--carouselEvenementHeight) + 5px) * -1);
    left: calc(var(--carouselEvenementWidth)* -1);
    height: 95px;
    width: 95px;
    z-index: 5;
    opacity: 1;
}

.leftParcho.bottom.focused .carousel-image{
    margin-top: calc((var(--carouselEvenementHeight) + 5px) * -1);
    left: calc(var(--carouselEvenementWidth)/4 - 10px);
    height: 95px;
    width: 95px;
    z-index: 5;
    opacity: 1;
}


.carousel-item-container.first{
    position: relative;
    width:90px;
    z-index: 1;
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
/*background-image: url('../assets/image/Carroussel/widget/firstItem.png');*/
}

.carousel-nowTurtule{
    position: relative;
    float: left;
    height: 71px;
    width: 50px;
    background-image: url('../assets/image/Carroussel/widget/nowTurtule.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: -27px;
    margin-top:calc(var(--carouselHeight)/2 - 15px);

}

.carousel-trail{
    position: relative;
    float: left;
    top: 14px; /*calc(50% - 75px);*/
    height: 100%;
    background-position-x: right;
    background-image: url('../assets/image/Carroussel/widget/trail.png');
    background-repeat: repeat-x;
}

.carousel-leftArrow{
    position: absolute;
    height: 100px;
    top: calc(50% - 50px);
    margin: 0 0 0 13px;
    width: 33px;
    left: 0;
    background-image: url('../assets/image/Carroussel/widget/Arrow.png');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 6;
}

.carousel-rightArrow{
    position: absolute;
    height: 100px;
    top: calc(50% - 50px);
    margin: 0 13px 0 0;
    right: 0;
    width: 33px;
    transform: rotate(180deg);
    background-image: url('../assets/image/Carroussel/widget/Arrow.png');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 6;
}
.carousel-borderStart{
    position: absolute;
    height: 100%;
    width: 28px;
    margin: 2px 0 0 -10px;
    left: 0;
    background-image: url('../assets/image/Carroussel/widget/starter.png');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 6;
}
.carousel-borderEnd{
    position: absolute;
    height: 100%;
    width: 28px;
    margin: 2px -19px 0 0;
    right: 0;
    background-image: url('../assets/image/Carroussel/widget/ender.png');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 6;
}

.top .carousel-marqueur{
    position: absolute;
    top:0;
    height: 60px;
    width: 10px;
    margin: 0 0 0 -5px;
    background-image: url('../assets/image/Carroussel/widget/Marqueur.png');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}

.bottom .carousel-marqueur{
    position: absolute;
    top:-60px;
    height:60px;
    width: 10px;
    margin: 0px 0 0 -5px;
    background-image: url('../assets/image/Carroussel/widget/Marqueur.png');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    transform: rotate(180deg);
}

.carousel-item-container.last-0{
position: relative;
z-index: 1;
background-size: contain;
background-position: center top;
background-repeat: no-repeat;
/*background-image: url('../assets/image/Carroussel/widget/lastItem-0.png');*/
}
.carousel-item-container.last-1{
position: relative;
z-index: 1;
background-size: contain;
background-position: center top;
background-repeat: no-repeat;
/*background-image: url('../assets/image/Carroussel/widget/lastItem-1.png');*/
}
.carousel-item-container.default-0{
position: relative;
z-index: 1;
background-size: contain;
background-position: center top;
background-repeat: no-repeat;
/* background-image: url('../assets/image/Carroussel/widget/defaultItem-0.png');*/
}
.carousel-item-container.default-1{
position: relative;
z-index: 1;
background-size: contain;
background-position: center top;
background-repeat: no-repeat;
/*background-image: url('../assets/image/Carroussel/widget/defaultItem-1.png');*/
}
/*
.bottom.focused .carousel-image{
margin-top: -25px;
}*/

.bottom.focused .carouselText{
     margin-top: -50px;
 }
.carousel-item-background{
    z-index: 0;
}
.carousel-item-forground{
    z-index: 2;
}
.carouselText{
    z-index: 3;
    position: relative;
    float: left;
    height: 40%;
    transition: all var(--carrousselExpendTime) ease;
}
.carousel-image{
    z-index: 1;
    cursor: pointer;
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    transition: all var(--carrousselExpendTime) ease;
    height: 0px;
    width: 0px;
}

.carousel-item-forground,.carousel-item-background{
    background-size: contain;
    position: absolute;
    height: 100%;
    width: 100%;
}

.carousel-item-content{
    position: relative;
    height: 100%;
    width: 100%;
}

.linkContainer{
    z-index: 1;
    position: absolute;
    border: 2px solid var(--OrangeBorder);
    background-color: var(--lightOrange);
    top: 10px;
    border-radius: 17px;
    right: 30px;
    padding: 3px 6px 4px 11px;
}

.linkLabel{
    position: relative;
    float: right;
    top:4px;
    cursor: pointer;
}
/*
.bottom .carousel-item-background{
    background-image: url('../assets/image/Carroussel/background-middle-0.png');
}
.top .carousel-item-background{
    background-image: url('../assets/image/Carroussel/background-middle-1.png');
}

.bottom .carousel-item-forground{
    background-image: url('../assets/image/Carroussel/forground-middle-0.png');
}
.top .carousel-item-forground{
    background-image: url('../assets/image/Carroussel/forground-middle-1.png');
}*/
.last .carousel-item-forground{

}


.carousel-leftButton{
    position: absolute;
    top:0;
    left:0;
    width: 70px;
    height: 100%;
    z-index: 5;
    background-color: var(--OrangeBorder);
    opacity: 0;
    transition: all 0.5s ease;
}
.carousel-rightButton{
    position: absolute;
    top:0;
    right:0;
    width: 70px;
    height: 100%;
    z-index: 5;
    background-color: var(--OrangeBorder);
    transition: all 0.5s ease;
    opacity: 0;
}

/*.carousel-widget:hover  .carousel-leftButton:hover, .carousel-widget:hover  .carousel-rightButton:hover{
    opacity: 1;
}*/

.carousel-widget:hover .carousel-leftButton,.carousel-widget:hover .carousel-rightButton{
    opacity: 0.2;
}

/*Full screen popup*/
/*#fullscreenPopup{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
}*/

#fullscreenPopupVisible{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    opacity: 1;
    transition: opacity 1s ease-in;
}


#fullscreenPopupHidden{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    display: none;
    transition: opacity 1s ease-in;
}

/*Full screen popup*/
#greyBackground{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: 0.5;
}
#poster{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-Y: center;
}


.parcho{
    opacity: 0;
    position: absolute;
    width: calc(calc(var(--carouselHeight) - 30px)*1.675);
    height: calc(var(--carouselHeight) - 30px);
    left: calc(var(--carouselEvenementWidth)/3 * -1);
    top: 14px;
    z-index: 0;
    font-size: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../assets/image/Carroussel/widget/Parcho.png');
    transition: all 1s ease-in;
    cursor: default;
}

.bottom .parcho{
    top: -14px;
    margin-top: calc((var(--carouselHeight) - 30px) * -1);
}

.focused .parcho{
    opacity: 1;
    z-index: 3;
    left: 10px;
}

.focused.leftParcho .parcho{
    z-index: 3;
    opacity: 1;
    left: calc( calc(calc(var(--carouselHeight) - 30px)*-1.675) - 25px);
}
.leftParcho .parcho{
    left: calc( calc(calc(var(--carouselHeight) - 30px)*-1.675) );
}


.parchoDate{
    position: relative;
    margin-left: 4%;
    margin-top: 16%;
    max-width: 92%;
    text-align: center;
    font-weight: bold;
}

.parchoText{
    position: relative;
    margin-top: 0;
    margin-left: 10%;
    max-width: 80%;
    text-align: center;
}

.carousel-icone{
    position: absolute;
    width: var(--carouselEvenementWidth);
    height: var(--carouselEvenementHeight);
    margin-left: calc(var(--carouselEvenementWidth)/-2);

    z-index: 2;
}

.carousel-inconClikZone{
    position: absolute;
    width: var(--itmClickableZone);
    height: var(--itmClickableZone);
    margin-left: calc(var(--itmClickableZone)/-2);
    cursor: pointer;
    z-index: 3;
}

.top .carousel-inconClikZone{
    top: 28px;
}

.bottom .carousel-inconClikZone{
    top: -80px;
}

.big.carousel-icone{
    cursor: pointer;
}

.top .carousel-icone{
    top: 0;
}

.bottom .carousel-icone {
    bottom: 0;
    margin-top: calc(( var(--carouselEvenementHeight) ) * -1);
}

.carousel-icone-link{
    bottom: 17%;
    opacity: 0.7;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 8%;
    z-index: 1;
    float: right;
    cursor: pointer;
    background-image: url('../assets/image/Carroussel/widget/link.png');
}

.carousel-icone-link-fullScreen{
    position: relative;
    width: 30px;
    height: 30px;
    z-index: 1;
    float: right;
    margin-left: 10px;
    background-image: url('../assets/image/Carroussel/widget/link.png');
}

.carousel-icone{
    background-size: contain;
    margin-left: calc(var(--carouselEvenementWidth)/-2);
}

.bottom .carousel-icone.sortie{
     background-image: url('../assets/image/Carroussel/widget/sortie-bottom.png');
 }

.top .carousel-icone.sortie{
    background-image: url('../assets/image/Carroussel/widget/sortie-top.png');
}

.bottom .carousel-icone.sortieMPA{
     background-image: url('../assets/image/Carroussel/widget/sortieMPA-bottom.png');
 }

.top .carousel-icone.sortieMPA{
    background-image: url('../assets/image/Carroussel/widget/sortieMPA-top.png');
}

.bottom .carousel-icone.dedicace{
    background-image: url('../assets/image/Carroussel/widget/dedicace-bottom.png');
}

.top .carousel-icone.dedicace{
    background-image: url('../assets/image/Carroussel/widget/dedicace-top.png');
}

.bottom .carousel-icone.essen{
    background-image: url('../assets/image/Carroussel/widget/essen-bottom.png');
}

.top .carousel-icone.essen{
    background-image: url('../assets/image/Carroussel/widget/essen-top.png');
}

.bottom .carousel-icone.salon{
    background-image: url('../assets/image/Carroussel/widget/salon-bottom.png');
}

.top .carousel-icone.salon{
    background-image: url('../assets/image/Carroussel/widget/salon-top.png');
}

.bottom .carousel-icone.soiree{
    background-image: url('../assets/image/Carroussel/widget/soiree-bottom.png');
}

.top .carousel-icone.soiree{
    background-image: url('../assets/image/Carroussel/widget/soiree-top.png');
}

.bottom .carousel-icone.sortieAffinity{
    background-image: url('../assets/image/Carroussel/widget/sortieAffinity-bottom.png');
}

.top .carousel-icone.sortieAffinity{
    background-image: url('../assets/image/Carroussel/widget/sortieAffinity-top.png');
}
.bottom .carousel-icone.sortieSensuel{
    background-image: url('../assets/image/Carroussel/widget/sortieSensuel-bottom.png');
}

.top .carousel-icone.sortieSensuel{
    background-image: url('../assets/image/Carroussel/widget/sortieSensuel-top.png');
}
.bottom .carousel-icone.sortieChimere{
    background-image: url('../assets/image/Carroussel/widget/sortieChimere-bottom.png');
}

.top .carousel-icone.sortieChimere{
    background-image: url('../assets/image/Carroussel/widget/sortieChimere-top.png');
}
.bottom .carousel-icone.cannes{
    background-image: url('../assets/image/Carroussel/widget/cannes-bottom.png');
}

.top .carousel-icone.cannes{
    background-image: url('../assets/image/Carroussel/widget/cannes-top.png');
}

.bottom .carousel-icone.nuremberg{
    background-image: url('../assets/image/Carroussel/widget/nuremberg-bottom.png');
}

.top .carousel-icone.nuremberg{
    background-image: url('../assets/image/Carroussel/widget/nuremberg-top.png');
}
.bottom .carousel-icone.epinal{
    background-image: url('../assets/image/Carroussel/widget/epinal-bottom.png');
}

.top .carousel-icone.epinal{
    background-image: url('../assets/image/Carroussel/widget/epinal-top.png');
}
.bottom .carousel-icone.grenoble{
    background-image: url('../assets/image/Carroussel/widget/grenoble-bottom.png');
}

.top .carousel-icone.grenoble{
    background-image: url('../assets/image/Carroussel/widget/grenoble-top.png');
}
.bottom .carousel-icone.pel{
    background-image: url('../assets/image/Carroussel/widget/pel-bottom.png');
}

.top .carousel-icone.pel{
    background-image: url('../assets/image/Carroussel/widget/pel-top.png');
}
.bottom .carousel-icone.dbdj{
    background-image: url('../assets/image/Carroussel/widget/dbdj-bottom.png');
}

.top .carousel-icone.dbdj{
    background-image: url('../assets/image/Carroussel/widget/dbdj-top.png');
}
.bottom .carousel-icone.flip{
    background-image: url('../assets/image/Carroussel/widget/flip-bottom.png');
}

.top .carousel-icone.flip{
    background-image: url('../assets/image/Carroussel/widget/flip-top.png');
}

.bottom .carousel-icone.empereurs{
    background-image: url('../assets/image/Carroussel/widget/5empereurs.png');
}

.top .carousel-icone.empereurs{
    background-image: url('../assets/image/Carroussel/widget/5empereurs.png');
}

.bottom .carousel-icone.DDD{
    background-image: url('../assets/image/Carroussel/widget/DDD.png');
}

.top .carousel-icone.DDD{
    background-image: url('../assets/image/Carroussel/widget/DDD.png');
}
.bottom .carousel-icone.sortieMPZ{
     background-image: url('../assets/image/Carroussel/widget/sortieMPZ-bottom.png');
 }

.top .carousel-icone.sortieMPZ{
    background-image: url('../assets/image/Carroussel/widget/sortieMPZ-top.png');
}
