
.contactLegal{

}

.contactNous{
	display: flex;

	
	padding-top : 15px;
	padding-bottom : 15px;
}

.contactNousLeft{
	position: relative;
	width: 50%;
	float : left;
	


}
.contactNousRight{
	position: relative;
    width: 50%;
	float : left;
	text-align: left;
	

}
.contactReseau{
	position: relative;

	
	padding-top : 15px;
	padding-bottom : 15px;
	
}
.contactReseauMidd{
	width: 100%;
	padding-top : 0px;
	padding-bottom : 0px;
	float : center;
}
.contactReseauLeft{
	position: relative;

	width: 70%;
	padding-top : 0px;
	padding-bottom : 0px;
	float : left;
}
.contactReseauRight{
	position: relative;

	width: 30%;
	padding-top : 15px;
	padding-bottom : 05px;
	float : left;
	
}
.TwitterLink{
	position: relative;
	
	margin-right : 8px;
	margin-left : 8px;
	
    width: 50px;
	height: 50px;
	
	
    background: url('../assets/image/Logo/Twitter_Bird.png');
	background-size: contain;
	background-repeat:no-repeat;
    cursor: pointer;
}
.FaceBookLink{
	position: relative;
  
	
	margin-right : 8px;
	margin-left : 8px;

	
    width: 50px;
	height: 50px;
	
	
    background: url('../assets/image/Logo/FacebookTortue.png');
	background-size: contain;
	background-repeat:no-repeat;
    cursor: pointer;
}
.InstaLink{
	position: relative;
  
	
	margin-right : 8px;
	margin-left : 8px;

	
    width: 45px;
	height: 45px;
	
	
    background: url('../assets/image/Logo/Instagram.png');
	background-size: contain;
	background-repeat:no-repeat;
    cursor: pointer;
}
.contactNews{

}
.contactGFLogoSplash{
	position: relative;



	width:100%;
}
