
#footer{
    position: relative;
    float: left;
    width: 100%;

}

#footerContainer{
    position: relative;
    float: left;
	display: flex;
    width: 100%;
    justify-content: center;
	margin: 0 0 0 0; 
	
	font-family: "Myriad Pro",Helvetica,Arial,sans-serif;
    font-size: 13px;
    color: #777879;
    line-height: 18px;

}

#footerLogo{
    position: relative;
    float: left; 
	width: 70px;
    height: 70px;
	
    flex-grow: 1;
    text-align: center;
    font-size: 18px;
	
	background-image: url("../assets/image/Logo/LogoGF.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	
}

#footerAdress{
	
    position: relative;
    float: left; 
	
    flex-grow: 2;
    text-align: left;

		
}

#legalInfo{
	
    position: relative;
    float: left; 
	
    flex-grow: 2;
    text-align: left;

		
}
#copyright{
	
    position: relative;
    float: left; 
	
    flex-grow: 2;
    text-align: right;

		
}