


.gameOutLogo{
    display: inline;
	width: 100%;
}

.gameOutContainer .rightPart{
    position: relative;
    width: calc(40%);
	
	-moz-border-radius-topright: var(--insideBorderSize);
    border-top-right-radius: var(--insideBorderSize);
    -webkit-border-top-right-radius: var(--insideBorderSize);
    -moz-border-radius-bottomright: var(--insideBorderSize);
    border-bottom-right-radius: var(--insideBorderSize);
    -webkit-border-bottom-right-radius: var(--insideBorderSize);
	
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
	
	
	background-color: var(--lightOrange);
}

.gameOutReleaseDate{
	text-align: center;

}

.gameOutDescription{

}

.gameOutHalfDescription{
	position: relative;

	float : left;
	
	text-align: center;
	width : 50%;
	margin-right : auto;
	margin-left : auto;
}

.gameOutDescriptionPart{
	position: relative;

	float : left;
	
	text-align: center;
	width : 98%;
	margin-right : auto;
	margin-left : auto;
}
.gameOutSplash{
	position: relative;

	float : left;
	width:90%;
}

.gameOutImg{
	position: relative;

	width:100%;
}

.gameOutPresse{
    height: 250px;

}

.gameOutTttV{
	padding-top: 10px;
	
	text-align: center;

}

.gameOutDLRules{
	display: flex;

	cursor: pointer;
	
	border-style: solid;
	border-color: #fd7b00;
	border-left-width: 6px;
	border-right-width: 6px;
	border-top-width: 3px;
	border-bottom-width: 3px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	
	text-shadow: none;
	background-color: white;
}
.gameOutDLRules:hover{
	background-color: #e59f92;
}

.gameOutDLRulesLeftPart{
	position: relative;
  
	float : left;
	
	margin-right : 8px;
	margin-top : 8px;
	margin-left : 8px;
	
    width: 70px;
	height: 70px;
	
    background: url('../assets/image/Button/RulesDL.png');
	background-size: contain;
	background-repeat : no-repeat;
    cursor: pointer;
	

}
.gameOutDLRulesRightPart{
	position: relative;
    width: 60%;
	float : left;
	

}
.pdfDLTitle{
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
	font-size: 21px;
	font-weight: bold;
    color: black;
	margin: 10px 0 0 0;
}

.pdfDLContent{
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    color: #000000;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
	margin: 0px 0 0 0;
}
.pdfDLTitle:hover{
	color:blue;
}

.gameOutBuy{
	position: relative;
	float : left;
	width:100%;
	
	border-style: solid;
	border-color: #fd7b00;
	border-left-width: 6px;
	border-right-width: 6px;
	border-top-width: 3px;
	border-bottom-width: 3px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	
	text-shadow: none;
	background-color: white;
	
	text-align: center;
	
	margin-left: auto;
    margin-right: auto;
}
.gameOutBuy:hover{
	background-color: #e59f92;
}

.WhereBuyLink{
	text-decoration: none;
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    color: #000000;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
	
}

.WhereBuyTitle{
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
	font-size: 21px;
	font-weight: bold;
    color: black;
	
	margin-right : auto;
	margin-top : 8px;
	margin-left : auto;
}
.WhereBuyTitle:hover{
    color: blue;
}

.WhereBuyInfos{
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    color: #000000;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
	margin-right : auto;
	margin-bottom : 8px;
	margin-left : auto;
}

.gameOutGameInfos{
	position: relative;
	float : left;
	text-align: center;

	width:100%;
	
	margin-left: auto;
    margin-right: auto;

}


.gameOutPartners{
	display: flex;
	justify-content : center;

}
.gameOutPartnersTextPart{
	position: relative;
	
	margin-right : auto;
	margin-left : auto;
	
    width: 60%;
	float : left;
	

}
.gameOutPartnerLogo{
	position: relative;
  
	float : left;
	
	margin-right : 8px;
	margin-left : 8px;
	
    cursor: pointer;
	

}
.partnerLink{
	border:0;
	width: 100px;
}

.partnerTextLink{
	text-decoration: none;
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    color: #000000;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
	
}
.partnerTextLink:hover{
    color: blue;
}
.TshirtContainer{
	position: relative;
	width: 100%;
	justify-content : center;
	margin-top: 10px;
	
	float : left;
	
	margin-right : auto;
	margin-left : auto;
	
}
.AffinityshirtLink{
	position: relative;
  
	
	margin-right : 8px;
	margin-left : 8px;
	

	height:250px;
	
    background: url('../assets/image/GameOut/affinity/TshirtSmall.png');
	background-size: contain;
	background-repeat:no-repeat;
	background-position: center;
    cursor: pointer;
}
