

.gameComingLogo{
    display: inline;
	width: 90%;
}
.gameComingReleaseDate{
	margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

	text-align: center;

}
.gameComingDescription{

}

.gameComingPresse{
    height: 200px;
}

.gameComingPartner{
    height: 200px;
}

.gameComingVideo{
    height: 200px;
}

.gameComingImgLink{
    width:65%;

}

.gameComingSplash{
	position: relative;


	width:90%;

}
.gameComingGameInfos{
	position: relative;

	text-align: center;

	width:100%;

	margin-left: auto;
    margin-right: auto;

}
.carouselContainer{
	position: relative;
	width: 90%;
	justify-content : center;


	margin-right : auto;
	margin-left : auto;
}
