
#header {
    position: relative;
    float: left;
    width: 100%;

}

#headerContainer {
    position: relative;
    float: left;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;

}

#headerTitle {

    position: relative;
    float: left;
    width: 100%;

    text-align: center;
    font-size: 20px;

    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;

}

#bannerContainer {
    position: relative;
    float: left;
    width: 90%;
    margin: -5px 5%;

}

.fixedExtraContainer #bannerContainer{

    border-bottom: var(--bottomBorder);
    border-color: var(--OrangeBorder);


    -moz-border-radius-bottomleft: var(--containerBorderSize);
    border-bottom-left-radius: var(--containerBorderSize);
    -webkit-border-bottom-left-radius: var(--containerBorderSize);

    -moz-border-radius-bottomright: var(--containerBorderSize);
    border-bottom-right-radius: var(--containerBorderSize);
    -webkit-border-bottom-right-radius: var(--containerBorderSize);
}

.fixedExtraContainer{
    position: fixed;
    top: 0;
    z-index: 7;
    width: calc(100% - 20px); /*width of scrol bar*/
    padding-top: 10px;
    max-width: 1200px;
    opacity: 0;
    transition: height,opacity var(--animationDuration) ease-in-out;
}

.blurEffect{
    position: absolute;
    width: 91%;
    top: -8px;
    margin: 0px 5%;
    height: 100%;

    background-size: contain;
    background-color: var(--lightBlue);

    opacity: 0.95;

}

.headerImage {
    position: relative;
    border: 0;
    margin-top: -40px;
    top: 40px;
    z-index: 8;
    height: 150px;
    background-image: url("../assets/image/header.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: calc(50% - 170px);

}

.headerImageClickableZone{
    position: absolute;
    margin-top: -40px;
    top: 40px;
    z-index: 9;
    height: 113px;
    width: 330px;
    margin-left: calc(50% - 170px);
}

.headerItem {

    position: relative;
    float: left;

    text-decoration: none;
    color: black;

    flex-grow: 1;
    text-align: center;
    font-size: 18px;

    margin-left: 10px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;

    padding-left: 13px;
    padding-top: 6px;
    padding-right: 13px;
    padding-bottom: 6px;

    border-style: solid;
    border-color: #fd7b00;
    border-left-width: 6px;
    border-right-width: 6px;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    text-shadow: none;
    background-color: #eccc9d;

}

.headerItem:hover {
    color: black;
    background-color: #e59f92;
}

.headerItem.selected {
    color: black;
    background-color: #eaa89d;
}

#headerItemContainer {
    position: relative;
    float: left;
    width: 70%;
    margin: 0 0 0 0;

}

#followUsContainer {
    position: relative;
    float: right;

    justify-content: center;
    margin: 0px 0 0 0;
    padding-left: auto;
    padding-right: auto;
}

.FaceBookMenu {
    position: relative;
    float: left;

    margin-right: 8px;
    margin-left: 8px;
    margin-top: -6px;

    width: 45px;
    height: 45px;

    background: url('../assets/image/Logo/FacebookTortue.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.TwitterMenu {
    position: relative;
    float: left;

    margin-right: 8px;
    margin-left: 8px;

    width: 45px;
    height: 45px;

    background: url('../assets/image/Logo/Twitter_Bird.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.InstaMenu {
    position: relative;
    float: left;

    margin-right: 8px;
    margin-left: 8px;

    width: 40px;
    height: 40px;

    background: url('../assets/image/Logo/Instagram.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.GFMenu {
    position: relative;
    float: left;

    margin-right: 8px;
    margin-left: 8px;

    width: 40px;
    height: 40px;

    background: url('../assets/image/Logo/LogoGF.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.NewsMenu {
    position: relative;
    float: left;

    margin-right: 8px;
    margin-left: 8px;

    width: 45px;
    height: 45px;

    background: url('../assets/image/IconeNewsLetter02.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.languageContainer {
    position: relative;
    float: right;
    width: 5%;
    margin-right: 15px;
    cursor: pointer;
}

.languageItemEN {
    position: relative;
    float: left;

    width: 50px;
    height: 20px;
    text-align: center;
    font-size: 20px;

    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;

    background-image: url("../assets/image/ButtonEN.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.languageItemFR {
    position: relative;
    float: left;

    width: 50px;
    height: 20px;
    text-align: center;
    font-size: 20px;

    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;

    background-image: url("../assets/image/ButtonFR.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
