


.GameMini{
	position: relative;
	float : left;

    margin-bottom: 0px;
	

}
.Separate{
	position: relative;
	float : left;
	width: 100%;
    margin-bottom: 0px;
	

}
.GameMiniImageContainer{
	position: relative;
	float : left;
	
	width: 70%;
	
    cursor: pointer;
	

	background-size: contain;
}
.GameMiniTextContainer{
	position: relative;
	float : left;
    width: 30%;
	
	text-align:center;
	
	margin-right : auto;
	margin-left : auto;
	margin-top : 50px;
    cursor: pointer;
	

	background-size: contain;
}
.gameMiniLink{
	position: relative;
	float : left;
	
	border:0;
	width: 100%;
}
