.container{
	position: relative;
	
    width: 100%;
	max-width: 1200px;

	margin-left: auto;
    margin-right: auto;
	
    font-size: 20px;
}

.pageContainer{
    position: relative;

    height:100vh;
    width: 100%;

    margin-left: auto;
    margin-right: auto;

    font-size: 20px;
    overflow-x: hidden;
}

.separation{
	display: block;
    border-width: 3px;
    border-color: var(--OrangeBorder);
    border-style: solid;
	
	-webkit-border-top-left-radius: var(--containerBorderSize);
    -moz-border-radius-bottomleft: var(--containerBorderSize);
    border-bottom-left-radius: var(--containerBorderSize);
    -webkit-border-bottom-left-radius: var(--containerBorderSize);
    -moz-border-radius-topright: var(--containerBorderSize);
    border-top-right-radius: var(--containerBorderSize);
    -webkit-border-top-right-radius: var(--containerBorderSize);
    -moz-border-radius-bottomright: var(--containerBorderSize);
    border-bottom-right-radius: var(--containerBorderSize);
    -webkit-border-bottom-right-radius: var(--containerBorderSize);
}

@media (orientation: portrait) {
    .container{
		max-width: 800px;
        position: relative;
        font-size: 40px;
        margin-left: auto;
        margin-right: auto;
    }
}