.NewsLetter{

	padding-top : 5px;
}

.LastNewsLetter{
	display: flex;
	
	border-style: solid;
	border-color: #fd7b00;
	border-left-width: 6px;
	border-right-width: 6px;
	border-top-width: 3px;
	border-bottom-width: 3px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	
	text-shadow: none;
	background-color: white;
	
	cursor: pointer;
}

.newsLeftPart{
	position: relative;
  
	float : left;
		
	margin-right : 8px;
	margin-left : 8px;

	width: 20%;
}
.newsImage{
	width: 100%;
}
.newsRightPart{
	position: relative;
    width: 60%;
	float : left;
	
	text-align : center;
	

}

.newsLink{
	text-decoration: none;
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    color: #000000;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
	
}
.newsLink:hover{
    color: blue;
}

.InscriptionNewsLetter{
	display: flex;
	
	border-style: solid;
	border-color: #fd7b00;
	border-left-width: 6px;
	border-right-width: 6px;
	border-top-width: 3px;
	border-bottom-width: 3px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	
	text-shadow: none;
	background-color: white;
	
	cursor: pointer;
}
.newsLinkRightPart{
	position: relative;
    width: 80%;
	float : left;
	
	text-align : center;
	

}
.newsInscriptionRightPart{
	position: relative;
    width: 80%;
	float : left;
		
	text-align : center;
	

}