

.bandeauSalon{



}
.bandeauSalonImg{
	border:solid 2px var(--OrangeBorder);
	width: 100%;
}

.receptionCarousel{
    height: 250px;

}

.receptionNewsLetter{
	display: flex;
	background-color: red;
	cursor: pointer;
}

.newsLinkLeftPart{
	position: relative;
  
	float : left;
	
	margin-right : 8px;
	margin-left : 8px;
	
    width: 50px;
	height: 50px;
	
    background: url('../assets/image/IconeNewsLetter.png');
	background-size: contain;
    cursor: pointer;
	

}
.newsLinkRightPart{
	position: relative;
    width: 60%;
	float : left;
	

}

.newsLink{
	text-decoration: none;
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    color: #000000;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
	
}
.newsLink:hover{
    color: blue;
}

.receptionInscriptionNewsLetter{
	display: flex;
	background-color: red;
	cursor: pointer;
}

.newsInscriptionLeftPart{
	position: relative;
  
	float : left;
	
	margin-right : 8px;
	margin-left : 8px;
	
    width: 50px;
	height: 50px;
	
    background: url('../assets/image/IconeNewsLetter.png');
	background-size: contain;
    cursor: pointer;
	

}
.newsInscriptionRightPart{
	position: relative;
    width: 60%;
	float : left;
	

}
.receptionDescription{
	position: relative;

}

.receptionListeJeux{
	position: relative;
	justify-content : center;

}

.receptionGame{
	position: relative;
	
	margin-right : auto;
	margin-left : auto;
	
	

}
.receptionAvailable{
	display: flex;
	justify-content : center;

}
.receptionGameFacing{
	position: relative;
  
	margin-right : auto;
	margin-left : auto;

	
    cursor: pointer;
	

	background-size: contain;
}
.gameFaceLink{
	border:0;
	width: 100px;
}
.receptionGameTextLink{
	text-decoration: none;
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    color: #000000;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
	
}
.receptionGameTextLink:hover{
    color: blue;
}

.receptionFollowUs{
	position: relative;

	
	padding-top : 15px;
	padding-bottom : 15px;
}

.receptionFollowUsReseau{
	position: relative;
	float : left; 
	
	padding-top : 0px;
	padding-bottom : 0px;
	
}
.receptionFollowUsReseauLeft{
	position: relative;

	width: 70%;
	padding-top : 0px;
	padding-bottom : 0px;
	float : left;
}
.receptionFollowUsReseauRight{
	position: relative;

	width: 30%;
	padding-top : 15px;
	padding-bottom : 05px;
	float : left;
	
}
.receptionFollowUsLeft{ 
  position: relative; 
  width: 50%; 
  float : left; 
 

} 
.receptionFollowUsRight{ 
  position: relative; 
  width: 50%; 
  float : left; 
  text-align: right; 
   

} 
.receptionFollowUsContainer{ 
  position: relative; 
  width: 100%;  

} 

.receptionFollowUsNews{
	position: relative;
	float : left; 
	
	padding-top : 15px;
	padding-bottom : 15px;
}

.carouselContainer{
	position: relative;
	width: 90%;
	justify-content : center;
	margin-top: 10px;

	
	margin-right : auto;
	margin-left : auto;
}

.actionJeuxContainer{
	position: relative;
	justify-content : center;

	
	margin-right : auto;
	margin-left : auto;
	margin-top : 10px;
}
.orangeDivisor{
	position: relative;
	width: 100%;
	background-color: var(--OrangeBorder);
	text-align: center;
	
	-webkit-border-top-left-radius: var(--containerBorderSize);
    -moz-border-radius-bottomleft: var(--containerBorderSize);
    border-bottom-left-radius: var(--containerBorderSize);
    -webkit-border-bottom-left-radius: var(--containerBorderSize);
    -moz-border-radius-topright: var(--containerBorderSize);
    border-top-right-radius: var(--containerBorderSize);
    -webkit-border-top-right-radius: var(--containerBorderSize);
    -moz-border-radius-bottomright: var(--containerBorderSize);
    border-bottom-right-radius: var(--containerBorderSize);
    -webkit-border-bottom-right-radius: var(--containerBorderSize);
	
	margin-right : auto;
	margin-left : auto;
}
.GameMini{
	position: relative;
	float : left;
	width:100%;
    margin-bottom: 0px;

}
.GameMiniImageContainer{
	position: relative;
	float : left;
	
	width: 70%;
	
    cursor: pointer;

	background-size: contain;
}
.GameMiniTextContainer{
	position: relative;
	float : left;
    width: 30%;
	
	text-align:center;
	
	margin-right : auto;
	margin-left : auto;
	margin-top : 50px;
    cursor: pointer;
	background-size: contain;
}
.gameMiniLink{
	position: relative;
	float : left;
	
	border:0;
	width: 100%;
}
.Separate{
	position: relative;
	float : left;
	width: 100%;
    margin-bottom: 0px;
	


}
.TshirtContainer{
	position: relative;
	width: 100%;
	justify-content : center;
	margin-top: 10px;
	float : left;
	
	margin-right : auto;
	margin-left : auto;
	
}

.TshirtLink{
	position: relative;
  
	
	margin-right : 8px;
	margin-left : 8px;
	

	height:650px;
	
    background: url('../assets/image/GameOut/affinity/ComTshirtsite02.png');
	background-size: contain;
	background-repeat:no-repeat;
	background-position: center;
    cursor: pointer;
}



