.seriousTitle{
	position: relative;
	width: 100%;
	float : left;
	justify-content : center;

}

.seriousDescription{
	width: 100%;
}

.seriousHalfDescriptionText{
	position: relative;

	float : left;
	
	text-align: left;
	width : 65%;
	margin-right : auto;
	margin-left : auto;
}
.seriousHalfDescriptionImg{
	position: relative;

	float : left;
	
	text-align: left;
	width : 35%;
	margin-right : auto;
	margin-left : auto;
}

.seriousDescriptionPart{
	position: relative;

	float : left;
	
	text-align: left;
	width : 98%;
	margin-right : auto;
	margin-left : auto;
}
.seriousSplash{
	position: relative;

	float : left;
	width:90%;
}

.NousTextPart{
	position: relative;
	
	margin-right : auto;
	margin-left : auto;
	margin-bottom : 10px;
	
	float : left;
	

}

.NousTextPartTitle{
	text-align : right;
}

.NousPortraitsContainer{
	position: relative;
  
	float : left;
	
	margin-right : 8px;
	margin-left : 8px;
	

}

.NousPortraits{
	border:5px solid var(--OrangeBorder) ;
	width: 150px;
	
	background-color: var(--lightOrange);
}

.nousContact{
	position: relative;

	
	padding-top : 15px;
	padding-bottom : 15px;
}

.nousContactLeft{
	position: relative;
	width: 100%;
	float : left;


}
.nousContactRight{
	position: relative;
    width: 70%;
	float : right;
	text-align: right;
	

}
.nousAdressRight{
	position: relative;
    width: 70%;
	float : right;
	text-align: center;
	

}

.nousPartnerContainer{
	position: relative;

}

.nousPartners{
	display: flex;
	justify-content : center;

}
.nousPartnersTextPart{
	position: relative;
	
	margin-right : auto;
	margin-left : auto;
	
    width: 60%;
	float : left;
	

}
.nousPartnerLogo{
	position: relative;
  
	float : left;
	
	margin-right : 8px;
	margin-left : 8px;
	
    cursor: pointer;
	

}
.nousLink{
	border:0;
	width: 100px;
}

.nousTextLink{
	text-decoration: none;
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    color: #000000;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
	
}
.nousTextLink:hover{
    color: blue;
}