:root {
    /*standard colors*/
    --c1: #FFFFFF;
    --c2: #F7F7F7; /*light grey*/
    --c3: #EFEFEF;
    --c4: #E5E5E5;
    --c5: #D7D7D7;
    --c6: #CCCCCC; /*...*/
    --c7: #BABABA;
    --c8: #999999;
    --c9: #666666;
    --c10: #494949;
    --c11: #333333; /*darck gray*/
    --c12: #0066CC; /*light blue*/
    --c13: #005AB3; /*deep blue*/
    --c14: #FF9900; /*orange*/
    --c18: #000000; /*black*/
    --c19: #cecece;
    --c20: #adadad;
    --c21: #888888;

    /*annalyse color*/
    --anaGreen: #98CB4A;
    --anaLightGreen: #1abc9c;
    --anaBlue: #3498db;
    --anaDarkBlue: #2d5bc4;
    --anaPurple: #9b59b6;
    --anaYellow: #f1c40f;
    --anaOrange: #e67e22;
    --anaRed: #e74c3c;
    --anaPink: #fd96a4;
    --anaGrey: #666666;
    --anaDarkGrey: #34495e;
    --anaSilver: #bdc3c7;

    /* colors */
    --bgGrey: #c7cdd1;
    --bgLightGrey: #ebebeb;
    --bgMiddleGrey: #999999;
    --bgBlue: #437bb5;
    --bgGreen: #61bd6d;
    --bgYellow: #FFC602;
    --bgRed: #FF0000;
    --white: #ffffff;
    --fDark: #3d3d3d;
    --inputDisableGrey: #c7cdd1;
	--lightOrange : #ECCC9D;
	--lightBlue : #bce0f0;
	
    /* sizes */
    --carouselHeight: 250px;
	--carouselMetalBorderHeight: 10px;
    --carouselEvenementHeight: 122px;
    --carouselEvenementWidth: 122px;
    --itmClickableZone:60px;
    --headerHeight: 9rem;
    --menuWidth: 25rem;
    --collapsedMenuWidth: -25rem;
    --menuItemHeight: 7rem;
    --unselectedMenuItemWidth: 23rem;
    --selectedMenuItemWidth: 23rem;
    --widgetTitleMinHeight: 3.5rem;
    --titleFontSize: 20px;

    --radialSizeInit: 200px;
    --radialSize: 150px;

    /* animations */
    --animationDuration: .3s;

    /*standard size*/
	
	/* Border container */
	--containerBorderSize : 31px;
	--topBorder : 13px solid #fd7b00;
    --bottomBorder: 13px solid #fd7b00;
	--OrangeBorder : #fd7b00;
	--insideBorderSize : 18px;
    --carrousselExpendTime:1.5s;
    --carrousselScrollStep:0.5s;
    --fadingStep:1s;
}

.hidden {
    display: none !important;
}

